_h.html
refs.txt
math-literacy.pre_*.html
assets/Claude
assets/_cheer_check.png
assets/_style.png
assets/old_pre_cleatbottle/
assets/videos/_orig1080/
assets/voice/old_pre_biggervoice/
assets/voice/*_old.mp3
assets/voice/_v.wav
